@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --primary : #0D62FF;
  --green : #018E42;
  --red : #ED1C24;
  --grey : #E7EFFF;
  --light_blue : #E7EFFF;
  --grey_light : #333;
  --green_light : #018E421A;
  --purple : #8400D5;
  --green_dark : #425F57;
  --grey_rgb: rgba(51, 51, 51, 0.30);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--light_blue);
}